{% extends "base.html" %}
{% block title %}Коды матчей{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_volleyball') }}">Волейбол</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_volleyball_europe_champ_2017') }}">Чемпионат Европы по волейболу 2017</a></li>
    <li class="breadcrumb-item active">Коды матчей</li>
</ol>

<br>

<p><b>Вид спорта:</b> Волейбол</p>

<p><b>Формат игры:</b> Счёт</p>

<p class="text-justify"><span class="text-warning">Внимание!</span> Информация по датам начала игр и их кодам может меняться по мере поступления новых данных.</p>

<br>

<h5>Групповой этап</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Участник 1</th>
            <th>Участник 2</th>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>24.08.17</td>
            <td>Болгария</td>
            <td>Россия</td>
            <td>AA-001</td>
        </tr>

        <tr>
            <td>2</td>
            <td>24.08.17</td>
            <td>Германия</td>
            <td>Мексика</td>
            <td>AA-002</td>
        </tr>

        <tr>
            <td>3</td>
            <td>25.08.17</td>
            <td>Словакия</td>
            <td>Чехия</td>
            <td>AA-003</td>
        </tr>

        <tr>
            <td>4</td>
            <td>25.08.17</td>
            <td>Германия</td>
            <td>Италия</td>
            <td>AA-004</td>
        </tr>

        <tr>
            <td>5</td>
            <td>26.08.17</td>
            <td>Россия</td>
            <td>Словения</td>
            <td>AA-005</td>
        </tr>

        <tr>
            <td>6</td>
            <td>26.08.17</td>
            <td>Болгария</td>
            <td>Испания</td>
            <td>AA-006</td>
        </tr>

        <tr>
            <td>7</td>
            <td>27.08.17</td>
            <td>Италия</td>
            <td>Словакия</td>
            <td>AA-007</td>
        </tr>

        <tr>
            <td>8</td>
            <td>27.08.17</td>
            <td>Германия</td>
            <td>Чехия</td>
            <td>AA-008</td>
        </tr>

        <tr>
            <td>9</td>
            <td>28.08.17</td>
            <td>Словения</td>
            <td>Болгария</td>
            <td>AA-009</td>
        </tr>

        <tr>
            <td>10</td>
            <td>28.08.17</td>
            <td>Испания</td>
            <td>Россия</td>
            <td>AA-010</td>
        </tr>
    </tbody>
</table>

<br>

<h5>Плей-офф</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Участник 1</th>
            <th>Участник 2</th>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11</td>
            <td>30.08.17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>12</td>
            <td>30.08.17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>13</td>
            <td>30.08.17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>14</td>
            <td>30.08.17</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endblock %}
