{% extends "base.html" %}
{% block title %}Коды матчей{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_volleyball') }}">Волейбол</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_volleyball_europe_champ_2017') }}">Чемпионат Европы по волейболу 2017</a></li>
    <li class="breadcrumb-item active">Коды матчей</li>
</ol>

<br>

<p><b>Вид спорта:</b> Волейбол</p>

<p><b>Формат игры:</b> Счёт</p>

<p class="text-justify"><span class="text-warning">Внимание!</span> Информация по датам начала игр и их кодам может меняться по мере поступления новых данных.</p>

<br>

<h5>Полуфинал</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Участник 1</th>
            <th>Участник 2</th>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>15</td>
            <td>02.09.17</td>
            <td>Сербия</td>
            <td>Германия</td>
            <td>AA-015</td>
        </tr>

        <tr>
            <td>16</td>
            <td>02.09.17</td>
            <td>Россия</td>
            <td>Бельгия</td>
            <td>AA-016</td>
        </tr>
    </tbody>
</table>

<br>

<h5>Матч за 3-е место</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Участник 1</th>
            <th>Участник 2</th>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>17</td>
            <td>03.09.17</td>
            <td>Сербия или Германия</td>
            <td>Бельгия или Россия</td>
            <td>AA-017</td>
        </tr>
    </tbody>
</table>

<br>

<h5>Финал</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Участник 1</th>
            <th>Участник 2</th>
            <th>Код</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>18</td>
            <td>03.09.17</td>
            <td>Сербия или Германия</td>
            <td>Бельгия или Россия</td>
            <td>AA-018</td>
        </tr>
    </tbody>
</table>

{% endblock %}
