{% extends "base.html" %}
{% block title %}Чемпионат Европы по фигурному катанию 2018{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_skating') }}">Фигурное катание</a></li>
    <li class="breadcrumb-item active">Чемпионат Европы по фигурному катанию 2018</li>
</ol>

<br>

<ol>
    <li><a href="{{ url_for('main.play_skating_europe_cup_2018_rules') }}">Правила проведения конкурса</a></li>
    <li><a href="{{ url_for('main.play_skating_europe_cup_2018_games') }}">Коды выступлений</a></li>
</ol>

{% endblock %}
