{% extends "base.html" %}
{% block title %}Правила проведения конкурса{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_skating') }}">Фигурное катание</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_skating_europe_cup_2018') }}">Чемпионат Европы по фигурному катанию 2018</a></li>
    <li class="breadcrumb-item active">Правила проведения конкурса</li>
</ol>

<br>

<p class="text-info">В разработке...</p>

{% endblock %}
