{% extends "base.html" %}
{% block title %}Коды выступлений{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_skating') }}">Спортивная гимнастика</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_skating_rostelecom_cup_2017') }}">Чемпионат России по фигурному катанию 2017</a></li>
    <li class="breadcrumb-item active">Коды выступлений</li>
</ol>

<br>

<p class="text-info">В разработке...</p>

{% endblock %}
