{% extends "base.html" %}
{% block title %}Коды партий{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess') }}">Шахматы</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess_world_cup_2017') }}">Кубок Мира по шахматы 2017</a></li>
    <li class="breadcrumb-item active">Коды партий</li>
</ol>

<br>

<p class="text-info">Коды игр будут размещены после определения пар 3 (третьего) тура</p>

{% endblock %}
