{% extends "base.html" %}
{% block title %}Коды партий{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess') }}">Шахматы</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess_world_cup_2017') }}">Кубок Мира по шахматы 2017</a></li>
    <li class="breadcrumb-item active">Коды партий</li>
</ol>

<br>

<p aling="justify"><span class="text-warning">Внимание!</span> Информация по датам начала партий и их кодам может меняться по мере поступления новых данных.</p>

<br>

<h5>Обозначения шахматистов, "привязанные" к сетке, размещенной (начиная с ¼ финала) на официальном сайте кубка мира</h5>

<br>

<div>
    <img src="{{ url_for('static',filename='img/chess_world_cup_2017/chess.jpg') }}" class="img-fluid rounded"/>
</div>

<br>

<h5>Коды партий</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
        <thead class="thead-inverse">
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Участник 1</th>
                <th>Участник 2</th>
                <th>Код</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>15.09.17</td>
                <td>X</td>
                <td>XX</td>
                <td>AA-001</td>
            </tr>
            <tr>
                <td>2</td>
                <td>15.09.17</td>
                <td>Y</td>
                <td>YY</td>
                <td>AA-002</td>
            </tr>
            <tr>
                <td>3</td>
                <td>15.09.17</td>
                <td>Z</td>
                <td>ZZ</td>
                <td>AA-003</td>
            </tr>
            <tr>
                <td>4</td>
                <td>15.09.17</td>
                <td>U</td>
                <td>UU</td>
                <td>AA-004</td>
            </tr>
            <tr>
                <td>5</td>
                <td>16.09.17</td>
                <td>X</td>
                <td>XX</td>
                <td>AA-005</td>
            </tr>
            <tr>
                <td>6</td>
                <td>16.09.17</td>
                <td>Y</td>
                <td>YY</td>
                <td>AA-006</td>
            </tr>
            <tr>
                <td>7</td>
                <td>16.09.17</td>
                <td>Z</td>
                <td>ZZ</td>
                <td>AA-007</td>
            </tr>
            <tr>
                <td>8</td>
                <td>16.09.17</td>
                <td>U</td>
                <td>UU</td>
                <td>AA-008</td>
            </tr>
            <tr>
                <td>9</td>
                <td>19.09.17</td>
                <td>B</td>
                <td>BB</td>
                <td>AA-009</td>
            </tr>
            <tr>
                <td>10</td>
                <td>19.09.17</td>
                <td>C</td>
                <td>CC</td>
                <td>AA-010</td>
            </tr>
            <tr>
                <td>11</td>
                <td>20.09.17</td>
                <td>B</td>
                <td>BB</td>
                <td>AA-011</td>
            </tr>
            <tr>
                <td>12</td>
                <td>20.09.17</td>
                <td>C</td>
                <td>CC</td>
                <td>AA-012</td>
            </tr>
            <tr>
                <td>13</td>
                <td>23.09.17</td>
                <td>A</td>
                <td>AA</td>
                <td>AA-013</td>
            </tr>
            <tr>
                <td>14</td>
                <td>24.09.17</td>
                <td>A</td>
                <td>AA</td>
                <td>AA-014</td>
            </tr>
            <tr>
                <td>15</td>
                <td>25.09.17</td>
                <td>A</td>
                <td>AA</td>
                <td>AA-015</td>
            </tr>
            <tr>
                <td>16</td>
                <td>26.09.17</td>
                <td>A</td>
                <td>AA</td>
                <td>AA-016</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
