{% extends "base.html" %}
{% block title %}Кубок Мира по шахматам 2017{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess') }}">Шахматы</a></li>
    <li class="breadcrumb-item active">Кубок Мира по шахматам 2017</li>
</ol>

<br>

<ol>
    <li><a href="{{ url_for('main.play_chess_world_cup_2017_rules') }}">Правила проведения конкурса</a></li>
    <li><a href="{{ url_for('main.play_chess_world_cup_2017_games') }}">Коды партий</a></li>
    <li><a href="http://46.165.248.101/results.php">Таблица результатов</a></li>
</ol>

{% endblock %}
