{% extends "base.html" %}
{% block title %}Кубок Мира по шахматам 2017{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="/play">Играть</a></li>
    <li class="breadcrumb-item"><a href="/play/chess/">Шахматы</a></li>
    <li class="breadcrumb-item active">Кубок Мира по шахматам 2017</li>
</ol>

<br>

<ol>
    <li><a href="/play/chess/world_cup_2017/rules.html">Правила проведения конкурса</a></li>
    <li><a href="/play/chess/world_cup_2017/games.html">Коды партий</a></li>
</ol>

{% endblock %}
