{% extends "base.html" %}
{% block title %}Правила проведения конкурса{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess') }}">Шахматы</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_chess_world_cup_2017') }}">Кубок Мира по шахматы 2017</a></li>
    <li class="breadcrumb-item active">Правила проведения конкурса</li>
</ol>

<br>

<h5 class="text-center">Правила проведения конкурса &quot;Шахматный онлайновый эксперт&quot; по прогнозированию результатов партий в Кубке Мира по шахматам 2017 в реальном масштабе времени</h5>

<br>

<ol class="rules">
  <li>
      <div align="justify"> Олимпийский комитет России (ОКР) при информационной поддержке радио &laquo;Спорт ФМ&raquo; объявляет конкурс <em>«Шахматный онлайновый эксперт»</em>, в котором Участнику необходимо как можно раньше предсказать результат партий в Кубке Мира по шахматам 2017, выбранных организаторами конкурса. </div>
   </li>

  <li>
    <div align="justify"> Призерами Конкурса становятся 25 участников Конкурса, набравших в сумме наибольшее количество очков в серии из 10 лучших (с точки зрения прогноза) партий. В случае совпадения количества очков, распределение мест будет осуществляться по максимальному числу очков, набранных во всех партиях, в которых участники зафиксировали свой прогноз. При совпадении очков, набранных во всех партиях, распределение мест будет осуществляться по жребию. </div>
   </li>

  <li> Призовой фонд Конкурса:
    <ul>
      <li>
        <div align="justify"> За первое место - 8-ми дюймовый планшет под Windows 10 с автографом Сергея Карякина, предназначенный для работы с Омнилайнером OMN100A </div>
       </li>

      <li>
        <div align="justify"> За второе место - 7-ми дюймовый планшет с автографом Сергея Карякина </div>
       </li>

      <li>
        <div align="justify"> За третье место - книга гроссмейстера Сергея Макарычева и мастера спорта Марины Макарычевой с авторскими автографами и Омнилайнер марки OMN100A с автографом Сергея Карякина </div>
       </li>

      <li>
        <div align="justify"> За места с 4 по 25 - Омнилайнер марки OMN100A с автографом Сергея Карякина </div>
       </li>
     </ul>
   </li>

  <li>
      <div align="justify"> Конкурс проводится с помощью новейшего гаджета <em>Омнилайнера</em> (типа обычной флэшки), с собственным идентификационным номером и позволяющего фиксировать свой прогноз во время партии с высокой точностью по времени (не зависящей от числа участников конкурса!), не обращая при этом внимание на качество интернета или вообще на его наличие, слушая, например, репортаж о партии в автомобиле. </div>
   </li>

  <li>
      <div align="justify"> Чтобы стать Участником Конкурса необходимо до начала Конкурса получить бесплатно на <em>«Спорт ФМ»</em> (о наличии омнилайнеров можно узнать по телефону: (495) 651-09-32) или купить в <a href="{{ url_for('main.buy') }}">интернет-магазине</a> <em>Омнилайнер</em>, предназначенный для записи прогнозов через имеющееся у Вас компьютерное устройство (далее КУ), например, планшет, нетбук, ноутбук или персональный компьютер, работающих под ОС Windows. <span class="text-warning">ВНИМАНИЕ!</span> Количество Омнилайнеров на «Спорт ФМ» ограничено. </div>
   </li>

    <li> Ознакомиться (при необходимости) с Руководством по эксплуатации <em>Омнилайнера</em>: <a href="{{ url_for('static', filename = 'downloads/Руководство.pdf') }}" >Руководство</a>. </li>

  <li> Установить на КУ программу <a href="{{ url_for('static', filename = 'downloads/Omniliner Setup.exe') }}" >Omniliner Setup.exe</a>. Для успешной установки программного обеспечения необходимо запускать с правами администратора. </li>

  <li>
      <div align="justify"> Подключить <em>Омнилайнер</em> к USB порту КУ, щелкнуть кнопкой мыши по ярлыку программы и при первом включении записать в <em>Омнилайнер</em> свое имя (или свой псевдоним) и пароль (при смене этих данных щелкнуть в верхней панели по пункту ОМНИЛАЙНЕР и далее по пункту УЧЕТНАЯ ЗАПИСЬ). </div>
   </li>

  <li>
      <div align="justify"> При появлении вверху окна ОМНИЛАЙНЕРА кнопки РЕГИСТРАЦИЯ необходимо щелкнуть по ней указателем мыши (или коснутся пальцем, если в качестве КУ используется планшет) произведя тем самым регистрацию ОМНИЛАЙНЕРА на центральном сервере ОКР. После регистрации соединение с интернетом в течение всей партии <span class="text-warning">не требуется</span>.</div>
   </li>
 Для записи своего прогноза результата партии Участник должен соблюдать следующий порядок действий:
  <ul>
    <li>
      <div align="justify"> в качестве вида спорта в интерфейсе программы выбрать «Шахматы 1» (для выбора вида спорта необходимо щелкнув указателем мыши по любому месту &lt;Пусто&gt; вызвать панель мероприятий и после выбора вида спорта нажать на кнопку &quot;ОК&quot;), а формат игры «Исход соревнования»; </div>
     </li>

    <li>
      <div align="justify"> в поле «Код игры» прописать КОД ПАРТИИ, размещённый на сайте <a href="http://sportfm.ru">http://sportfm.ru/</a>, щёлкнув по баннеру ПРОГНОЗ БЫСТРЫХ СОБЫТИЙ &gt; Кубок Мира по шахматам 2017 &gt; Коды партий; </div>
     </li>

    <li>
        <div align="justify"> в открывшемся поле «Номер участника 1» прописать число «1», а в открывшемся поле «Номер участника 2» прописать число «2»; </div>
     </li>

    <li>
        <div align="justify"> в поле «Исход встречи» необходимо выбрать свой прогноз на результат партии, нажав мышкой или пальцем на один из следующих вариантов: Победа участника 1, Ничья, Победа участника 2;</div>
     </li>

    <li>
        <div align="justify"> далее необходимо записать Ваш прогноз счёта в память <em>Омнилайнера</em>, нажав кнопку «Записать». Прогноз на каждую партию можно записать в <em>Омнилайнер</em> заранее; </div>
     </li>

    <li>
      <div align="justify"> поздравляем, прогноз сделан! Теперь необходимо следить за ходом партии по любому удобному для вас каналу коммуникации (телевидение, интернет, радио «Спорт ФМ» или зрительный зал в месте проведения турнира), не заботясь при этом о качестве интернета или вообще о его наличии, находясь, например, в автомобиле; </div>
     </li>

    <li>
      <div align="justify"> если по ходу партии Участник изменил свое решение по прогнозу, то можно в поле «Исход встречи» изменить счёт и записать его нажав на кнопку «Записать» и далее подтвердить перезапись.</div>
     </li>
   </ul>

  <li>
    <div align="justify"> После окончания каждого партии (но не раньше чем через 25 минут после её окончания и не позднее суток после окончания последней партии турнира), Участнику необходимо соединение с сетью интернет, чтобы иметь возможность отправить свой прогноз на сервер «Организатора». Для этого Участнику необходимо соблюдать следующий порядок действий: </div>

    <ul>
      <li>
        <div align="justify"> на панели инструментов выбрать «Вид спорта» и нажать на пункт «Отправить «ОКР». В случае успешной передачи прогноза появится соответствующее сообщение; </div>
       </li>

      <li>
        <div align="justify"> в случае возникновения проблем в процессе передачи прогноза на сервер, Участнику необходимо проверить соединение ПК с интернетом и повторно пройти процедуру. Если повторная попытка окажется неудачной, необходимо написать <a href="{{ url_for('main.feedback_message_submit') }}" >службе технической поддержки</a>. </div>
       </li>
     </ul>
   </li>

  <li>
    <div align="justify"> За каждый правильно угаданный результат партии участнику Конкурса начисляются очки. Участник наберет 10000 (десять тысяч) очков, если запись правильного результата партии была сделана до её начала. Если запись результата партии была сделана в течении игры, то результат будет снижен (посекундно) прямо пропорционально времени, прошедшему после её начала. Ознакомиться с количеством набранных за каждую партию очков Участник может, выбрав пункт «Мои результаты» в пункте меню «Конкурс ОКР». </div>
   </li>

  <li>
    <div align="justify"> Участникам запрещается производить стирание записей, по которым рассчитывались очки по данному Конкурсу. </div>
   </li>

  <li>
      <div align="justify"> Любой желающий может посмотреть текущую таблицу результатов Конкурса на сайте <a href="http://sportfm.ru/">http://sportfm.ru/</a> щёлкнув по баннеру ПРОГНОЗ БЫСТРЫХ СОБЫТИЙ &gt; Кубок Мира по шахматам 2017 &gt; СВОДНАЯ ТАБЛИЦА РЕЗУЛЬТАТОВ. Через сутки после окончания турнира результаты таблицы становятся итоговыми результатами всего Конкурса. </div>
   </li>
 </ol>

{% endblock %}
