{% extends "base.html" %}
{% block title %}Коды выступлений гимнастов{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_gymnastics') }}">Спортивная гимнастика</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_gymnastics_world_champ_2017') }}">Чемпионат Мира по спортивной гимнастике 2017</a></li>
    <li class="breadcrumb-item active">Коды выступлений гимнастов</li>
</ol>

<br>

<p class="text-info">В разработке...</p>

{% endblock %}
