{% extends "base.html" %}
{% block title %}Чемпионат Мира по спортивной гимнастике 2017{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="/play">Играть</a></li>
    <li class="breadcrumb-item"><a href="/play/gymnastics/">Спортивная гимнастика</a></li>
    <li class="breadcrumb-item active">Чемпионат Мира по спортивной гимнастике 2017</li>
</ol>

<br>

<ol>
    <li><a href="/play/gymnastics/world_champ_2017/rules.html">Правила проведения конкурса</a></li>
    <li><a href="/play/gymnastics/world_champ_2017/games.html">Коды выступлений гимнастов</a></li>
</ol>

{% endblock %}
