{% extends "base.html" %}
{% block title %}Чемпионат Мира по спортивной гимнастике 2017{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play') }}">Играть</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.play_gymnastics') }}">Спортивная гимнастика</a></li>
    <li class="breadcrumb-item active">Чемпионат Мира по спортивной гимнастике 2017</li>
</ol>

<br>

<ol>
    <li><a href="{{ url_for('main.play_gymnastics_world_champ_2017_rules') }}">Правила проведения конкурса</a></li>
    <li><a href="{{ url_for('main.play_gymnastics_world_champ_2017_games') }}">Коды выступлений гимнастов</a></li>
</ol>

{% endblock %}
