{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block page_content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
  <li class="breadcrumb-item active">О нас</li>
</ol>

<br>

<p class="text-justify"> <b>ООО &quot;Национальный Центр Глобальных Инноваций&quot;</b> была создана в 2007 году.</p>

<p class="text-justify"> Цель - создание таких инновационных продуктов, которые будут востребованы в большинстве стран и которые в той или иной степени должны перевести мир на новую ступень своего развития. </p>

<p class="text-justify"> Способ достижения цели - реализация главных этапов в создание инновационных продуктов - получение патентов США, а также других промышленно развитых стран, и создание опытных образцов. </p>

<p class="text-justify"> Другой целью компании является привлечение к реализации своих проектов максимального числа партнёров.</p>

<p class="text-justify"> В настоящее время создано несколько прорывных инновационных продуктов (описание продуктов можно найти на сайте компании <a href="http://www.ncgi.ru" target="_blank">www.ncgi.ru</a>).</p>

<p class="text-justify"> Один из таких продуктов - улучшенная интерактивная информационная система (УИИС), в основе работы которой лежит специальное запоминающее устройство под названием <b>Омнилайнер</b>. Абсолютная новизна и революционность изобретения подтверждается патентом
  США.</p>

<p class="text-justify"> Уже в ближайшее время УИИС может произвести самый настоящий переворот в таких областях как: радио и телевизионное вещание, структурная организация Международного Олимпийского Комитета (МОК), система высшего и среднего образования, дистанционное образование,
  рекламная индустрия.</p>

<br>

<h5>Контакты:</h5>

<br>

<p> Адрес компании: 105484, г. Москва, ул. 16-я Парковая, дом 26, корп.1.</p>

<p> Сайт компании: <a href="http://www.ncgi.ru" target="_blank">http://www.ncgi.ru</a></p>

<p>E-Mail компании: <a href="mailto:ncgiltd@gmail.com">ncgiltd@gmail.com</a></p>
{% endblock %}
