{% extends "base.html" %}
{% block title %}Купить{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
  <li class="breadcrumb-item active">Купить</li>
</ol>

<br>

<p class="text-justify">Приобрести ОМНИЛАЙНЕР можно в шахматном магазине по следующему адресу:</p>

<p class="text-justify">Москва, ул. Маршала Малиновского, д.6, корп.1, офис 22, ООО &quot;Дайв&quot;.</p>

<p>Тел. (495) 983-33-36</p>

<br>

<p class="text-justify"><span class="text-warning">ВНИМАНИЕ!</span> Ввиду ограниченного количества ОМНИЛАЙНЕРОВ просьба предварительно узнавать об их наличии по указанному телефону.</p>

{% endblock %}
