{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block page_content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Главная</li>
</ol>
<arcticle>
  <p class="text-justify">
    Несмотря на широкое распространение Интернета миллионы людей во всех странах мира до сих пор лишены возможности прогнозировать короткие события, из которых по сути и состоит большинство мероприятий, связанных с реакцией человека на то или иное информационное
    воздействие. В спорте это прогноз результатов: футбольных штрафных ударов, хоккейных буллитов, судейских оценок в фигурном катании, гимнастике или прыжках в воду. В образовании - мгновенный ответ на полученный вопрос. В рекламе - фиксация рекламной
    вставки. Невозможность участия человека в прогнозе коротких по времени событий объясняется, прежде всего, их одновременным (с точностью до нескольких секунд) поступлением на центральный сервер сразу от всех участников мероприятия, например, от 1 миллиарда
    человек, участвующих в просмотре Олимпийских игр. Что вызывает перегрузку сети и увеличение времени прохождения пакетов. Это явление существует везде где происходит буферизация. А это все маршрутизаторы, мосты и шлюзы на пути от источника до приёмника.
    В результате длительность самого события может быть меньше времени доставки его прогноза организаторам того или иного конкурса! Другая причина отсутствия на мировом рынке конкурсов по прогнозам коротких событий - не стопроцентная надежность онлайнового
    соединения. Даже при однократном обрыве связи вся игра участника конкурса будет нивелирована. Решить эти проблемы позволяет новая интерактивная система, основанная на установке в компьютер участника интерактивного мероприятия специального приложения,
    предназначенного для формирования прогнозов практически во всех видах спорта, не подключаясь при этом к какому-либо обратному каналу, например, к Интернету. С целью стопроцентной защиты сформированных данных их запись производится в специальный гаджет
    под названием Омнилайнер. Последний является невскрываемым устройством со своим таймером, имеет собственный идентификационный номер и несет функции онлайнового билета (идентификатора). Пользователь использует сеть Интернет только после завершения
    мероприятия, передав данные на сервер организатора. Последний вычисляет момент времени их записи в Омнилайнер и выявляет победителей.
  </p>

  <p class="text-justify">
    Новая интерактивная система защищена патентами США и других ведущих стран мира.
  </p>
<article>
{% endblock %}
