{% extends "base.html" %}
{% block title %}Архив - Матч за звание чемпиона мира между Анандом и Карлсеном{% endblock %}
{% block page_content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Главная</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('main.archive') }}">Архив проведенных конкурсов</a></li>
  <li class="breadcrumb-item">Матч за звание чемпиона мира между Анандом и Карлсеном</li>
</ol>

<br>

<h5>Итоговая таблица результатов первых 39 участников</h5>

<br>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Место</th>
            <th>Номер Омнилайнера</th>
            <th>Имя участника</th>
            <th>Лучший результат в серии из 10 игр</th>
            <th>Результат по всем сыгранным играм</th>
            <th>Количество сыгранных игр</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>15...154</td>
            <td>Рашид</td>
            <td>44740</td>
            <td>44740</td>
            <td>10</td>
        </tr>

        <tr>
            <td>2</td>
            <td>80...034</td>
            <td>Лидия</td>
            <td>44464</td>
            <td>44464</td>
            <td>10</td>
        </tr>

        <tr>
            <td>3</td>
            <td>93...154</td>
            <td>Фельдман</td>
            <td>43919</td>
            <td>43919</td>
            <td>10</td>
        </tr>

        <tr>
            <td>4</td>
            <td>16...184</td>
            <td>hgf</td>
            <td>41375</td>
            <td>41375</td>
            <td>10</td>
        </tr>

        <tr>
            <td>5</td>
            <td>80...034</td>
            <td>Ян Цзинминь</td>
            <td>41236</td>
            <td>41236</td>
            <td>10</td>
        </tr>

        <tr>
            <td>6</td>
            <td>95...024</td>
            <td>Атанас Динев</td>
            <td>41193</td>
            <td>41193</td>
            <td>10</td>
        </tr>

        <tr>
            <td>7</td>
            <td>61...144</td>
            <td>Рольф</td>
            <td>41150</td>
            <td>41150</td>
            <td>10</td>
        </tr>

        <tr>
            <td>8</td>
            <td>21...174</td>
            <td>Тикканен</td>
            <td>40394</td>
            <td>40394</td>
            <td>10</td>
        </tr>

        <tr>
            <td>9</td>
            <td>10...431</td>
            <td>ВИ</td>
            <td>40364</td>
            <td>40364</td>
            <td>10</td>
        </tr>

        <tr>
            <td>10</td>
            <td>10...080</td>
            <td>Chess 007</td>
            <td>40352</td>
            <td>40352</td>
            <td>10</td>
        </tr>

        <tr>
            <td>11</td>
            <td>10...781</td>
            <td>Ал.Нечипоренко</td>
            <td>22903</td>
            <td>22903</td>
            <td>8</td>
        </tr>

        <tr>
            <td>12</td>
            <td>10...030</td>
            <td>Победитель</td>
            <td>20384</td>
            <td>20384</td>
            <td>10</td>
        </tr>

        <tr>
            <td>13</td>
            <td>54...184</td>
            <td>Райскин</td>
            <td>20383</td>
            <td>20383</td>
            <td>10</td>
        </tr>

        <tr>
            <td>14</td>
            <td>85...174</td>
            <td>Раудсепп</td>
            <td>20349</td>
            <td>20349</td>
            <td>10</td>
        </tr>

        <tr>
            <td>15</td>
            <td>29...064</td>
            <td>Лу Шынлэй</td>
            <td>20328</td>
            <td>20328</td>
            <td>10</td>
        </tr>

        <tr>
            <td>16</td>
            <td>10...431</td>
            <td>Нурулла</td>
            <td>20152</td>
            <td>20152</td>
            <td>10</td>
        </tr>

        <tr>
            <td>17</td>
            <td>71...104</td>
            <td>Рауш</td>
            <td>20137</td>
            <td>20137</td>
            <td>10</td>
        </tr>

        <tr>
            <td>18</td>
            <td>10...380</td>
            <td>М.Екушев</td>
            <td>20126</td>
            <td>20126</td>
            <td>10</td>
        </tr>

        <tr>
            <td>19</td>
            <td>10...380</td>
            <td>Бирюлин</td>
            <td>20116</td>
            <td>20116</td>
            <td>10</td>
        </tr>

        <tr>
            <td>20</td>
            <td>15...004</td>
            <td>Алекс</td>
            <td>20044</td>
            <td>20044</td>
            <td>10</td>
        </tr>

        <tr>
            <td>21</td>
            <td>60...044</td>
            <td>Валерий</td>
            <td>20034</td>
            <td>20034</td>
            <td>10</td>
        </tr>

        <tr>
            <td>22</td>
            <td>10...090 </td>
            <td>Иванов В.</td>
            <td>12593</td>
            <td>12593</td>
            <td>7</td>
        </tr>

        <tr>
            <td>23</td>
            <td>10...630</td>
            <td>А.Горбунов</td>
            <td>12187</td>
            <td>12187</td>
            <td>7</td>
        </tr>

        <tr>
            <td>24</td>
            <td>10...030</td>
            <td>Шахматист</td>
            <td>11003</td>
            <td>11003</td>
            <td>5</td>
        </tr>

        <tr>
            <td>25</td>
            <td>10...431</td>
            <td>хороший</td>
            <td>10155</td>
            <td>10155</td>
            <td>6</td>
        </tr>

        <tr>
            <td>26</td>
            <td>10...080</td>
            <td>Представитель</td>
            <td>10136</td>
            <td>10136</td>
            <td>6</td>
        </tr>

        <tr>
            <td>27</td>
            <td>10...330</td>
            <td>Олег</td>
            <td>10128</td>
            <td>10128</td>
            <td>6</td>
        </tr>

        <tr>
            <td>28</td>
            <td>10...780</td>
            <td>Вл.Ал.</td>
            <td>10121</td>
            <td>10121</td>
            <td>6</td>
        </tr>

        <tr>
            <td>29</td>
            <td>10...380</td>
            <td>Марина 2</td>
            <td>2705</td>
            <td>2705</td>
            <td>6</td>
        </tr>

        <tr>
            <td>30</td>
            <td>10...630</td>
            <td>Влад Ефимов</td>
            <td>2646</td>
            <td>2646</td>
            <td>6</td>
        </tr>

        <tr>
            <td>31</td>
            <td>10...630</td>
            <td>Дудушкин</td>
            <td>1392</td>
            <td>1392</td>
            <td>7</td>
        </tr>

        <tr>
            <td>32</td>
            <td>10...380</td>
            <td>Граник И.</td>
            <td>1049</td>
            <td>1049</td>
            <td>6</td>
        </tr>

        <tr>
            <td>33</td>
            <td>10...630</td>
            <td>Леденева</td>
            <td>1028</td>
            <td>1028</td>
            <td>6</td>
        </tr>

        <tr>
            <td>34</td>
            <td>10...781</td>
            <td>Цатурян</td>
            <td>1008</td>
            <td>1008</td>
            <td>6</td>
        </tr>

        <tr>
            <td>35</td>
            <td>10...431</td>
            <td>Daisy Chan</td>
            <td>1000</td>
            <td>1000</td>
            <td>6</td>
        </tr>

        <tr>
            <td>36</td>
            <td>10...620</td>
            <td>А.Квинт</td>
            <td>991</td>
            <td>991</td>
            <td>6</td>
        </tr>

        <tr>
            <td>37</td>
            <td>10...630</td>
            <td>Robin</td>
            <td>325</td>
            <td>325</td>
            <td>8</td>
        </tr>

        <tr>
            <td>38</td>
            <td>10...090</td>
            <td>Venera</td>
            <td>242</td>
            <td>242</td>
            <td>8</td>
        </tr>

        <tr>
            <td>39</td>
            <td>10...030</td>
            <td>Георги Николов</td>
            <td>223</td>
            <td>223</td>
            <td>8</td>
        </tr>
    </tbody>
</table>

<br />

<p>Победители конкурса были награждены следующими призами:</p>

<ul>
    <li>За первое место - смартфон Sumsung GALAXY S III GT-I9300 </li>

    <li>За второе место - электронная книга PocketBook Touch (модель PocketBook 622) </li>

    <li>За третье место - ЖК-телевизор, 19&quot;, LED-подсветка, HDTV; </li>

    <li>За четвёртое место - два Омнилайнера марки OMN100A; </li>

    <li>За пятое место - один Омнилайнер марки OMN100A. </li>
</ul>

{% endblock %}
